


/* Experience container */
.experience-container{
    width: 100%;
    min-height: 50dvh;
    padding: 2rem;

    background-color: hsl(10 10% 4%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.exp-title{
    text-align: center;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;

    background: linear-gradient(to right, hsl(142, 71%, 45%), hsl(142, 71%, 45%));
    /* gradient-text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.exp-intro{
    text-align: center;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: hsl(0, 0%, 63%);
    margin-bottom: 20px;
}
/* Responsive */
@media screen and (max-width: 768px) {
    .exp-title{
        font-size: 2rem;
    }

    .exp-intro{
        font-size: 1rem;
    }
}


/* Experiences */
.experiences{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}